@model LibraryApp.Models.User

@{
    ViewData["Title"] = "Index";
    string qrCode = ViewBag.QRCode;
}

<form asp-action="Search">
    <div class="col-md-6">
        <div class="col">
            <label class="control-label">Nome Completo:</label>
            <input name="name" class="form-control">
        </div>
        <div class="col" style="margin: 10px 0;">
            <label>Turma</label>
            <select class="custom-select" name="classroom" style="padding: 2px;">
                <option value="1A">1º Ano A</option>
                <option value="1B">1º Ano B</option>
                <option value="1C">1º Ano C</option>
                <option value="1D">1º Ano D</option>
                <option value="2A">2º Ano A</option>
                <option value="2B">2º Ano B</option>
                <option value="2C">2º Ano C</option>
                <option value="3A">3º Ano A</option>
                <option value="3B">3º Ano B</option>
                <option value="3B">EJA A</option>
                <option value="3B">EJA B</option>
                <option value="3B">EJA C</option>
            </select>
        </div>
        <input type="submit" class="btn btn-info" value="Gerar Carteirinha">
    </div>
</form>

@if (Model != null)
{
        <div class="container row" style="margin-top: 50px; display: flex; flex-wrap: nowrap;">
            <div class="card" style="width: 320px; height: 190px" id="card">
                <div class="card-body">
                    <div class="card-header" style="padding: 0;color:#fff; background-color: transparent; border: none;">
                        <h5 class="card-title">@Model!.Name</h5>
                        <h6 class="card-subtitle">Carteirinha de Identificação</h6>
                    </div>
                    <div class="container-footer" style="color:#fff; font-size:10pt; margin-top:30px;">
                        <p>
                            Matrícula: @Model!.SIGE<br />
                            Turma: @switch (Model.Class)
                            {
                                case "1A":
                                    <text>1º Ano A</text>

                                    <br />
                                    ;
                                    break;
                                case "1B":
                                    <text>1º Ano B</text>

                                    <br />
                                    ;
                                    break;
                                case "1C":
                                    <text>1º Ano C</text>

                                    <br />
                                    ;
                                    break;
                                case "1D":
                                    <text>1º Ano D</text>

                                    <br />
                                    ;
                                    break;
                                case "2A":
                                    <text>2º Ano A</text>

                                    <br />
                                    ;
                                    break;
                                case "2B":
                                    <text>2º Ano B</text>

                                    <br />
                                    ;
                                    break;
                                case "2C":
                                    <text>2º Ano C</text>

                                    <br />
                                    ;
                                    break;
                                case "3A":
                                    <text>3º Ano A</text>

                                    <br />
                                    ;
                                    break;
                                case "3B":
                                    <text>3º Ano B</text>

                                    <br />
                                    ;
                                    break;
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card" style="background-color:#1b75ef; width: 320px; height: 190px">
                    <p style="margin:10px 0 0 15px; color: #fff">Validação da carteirinha:</p>
                    <img src="@qrCode" width="96" style="background-color:transparent; margin:auto"/>
                </div>
            </div>
        </div>
}