@model LibraryApp.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h3>Deseja remover o aluno do banco de dados?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Telefone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index"><input type="button" class="btn btn-dark" value="< Retornar aos Alunos" /></a>
    </form>
</div>
