@model LibraryApp.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de verificação do aluno: @Model.Name</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Turma
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            Matrícula
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SIGE)
        </dd>
    </dl>
    <h3>Aluno verificado!</h3>
</div>
